.page {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page_full {
    flex-grow: 1;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
}