.list {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.list__button {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}

.list__button:hover {
  color: red;
}
