.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    padding: 50px;
}

.login-form__item {
    margin: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.login-form__item_title {
    margin-right: 10px;
    color: red;
}

.login-form__button {
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    margin-top: 10px;
}

.login-form__button:hover {
    color: red;
}

.login {
    display: flex;
    margin: 20px;
}

.alert-danger {
    margin: 5px 0px;
    color: red;
}

.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
}