<div class="login">
    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="login-form__item">
            <span class="login-form__item_title">Login</span>

            <input formControlName="name" class="login-form__item_input"/>

        </div>            <div *ngIf="name.invalid && name.touched"
                               class="alert alert-danger">
        <div *ngIf="name.errors.required">
            Login is required.
        </div>
    </div>
        <div class="login-form__item">
            <span class="login-form__item_title">Password</span>


            <input formControlName="password" type="password" class="login-form__item_input"/>

        </div>          <div *ngIf="password.invalid && password.touched"
                             class="alert alert-danger">
        <div *ngIf="password.errors.required">
            Password is required.
        </div>
    </div>
        <button class="login-form__button" [disabled]="!form.valid" type="submit">Log in</button>
    </form>
</div>