<div [appStyleByDate]="item.date" ngClass="{{item.isTopRated ? 'item_rated' : 'item'}}">
    <div class="item__description">
        <div class="item__description_title">
            <span *appHide="item.isTopRated" class="item__description_sign">*</span>
            <span class="item__description_name">{{item.name | uppercase }}</span>
            <span class="item__description_text">{{item.length | duration}}</span>
            <span class="item__description_text">{{item.date | date:'dd.MM.yyyy'}}</span>
        </div>
        <div class="item__description_overview">
            <span class="item__description_text">{{item.description}}</span>
        </div>
    </div>
    <div class="item__buttons">
        <div class="item__button" (click)="onEditClick()">Edit</div>
        <div class="item__button" (click)="onDeleteClick()">Delete</div>
        <app-confirmation *ngIf="isDialogOpened" (negativeAction)="negativeAction($event)"
                          (positiveAction)="positiveAction($event)"></app-confirmation>
    </div>
</div>
