<app-breadcrumbs></app-breadcrumbs>
<div class="options">
    <div class="options__search search">
        <input #searchInput class="search__input"/>
        <div (click)="onSearchClick(searchInput.value)" class="search__button">Search</div>
    </div>
    <div class="options__button" (click)="onAddNewClick()">Add course</div>
</div>
<div class="page_full list">
    <app-item *ngFor="let course of courses | creationDateOrder" [item]="course"
              (removeItem)="removeItem($event)" (onAddNewClick)="onAddNewClick($event)"></app-item>
    <div *ngIf="courses.length === 0" class="list__button">No data ): Feel free to add new course</div>
    <div *ngIf="courses.length !== 0" class="list__button" (click)="onLoadClick()">LOAD MORE</div>
</div>
